streamlit
openai
numpy>=1.26.0
scikit-learn
python-dotenv
rank_bm25
nltk
pydantic
groq
germalemma
spacy>=3.7.0
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.5.0/de_core_news_sm-3.5.0-py3-none-any.whl
setuptools>=68.0.0
wheel
